* {
  box-sizing: border-box;
}

:root {
   /* Typography */
  --family: 'Josefin Sans', sans-serif;
  --fs-md: 18px;
  --fw-normal: 400;
  --fw-bold: 700;

  /* other */
  --colors-main: rgb(166,128,241);
}

body[data-theme='dark'] {
  --colors-text: rgb(210, 212, 235);
  --colors-bg: rgb(24,24,36);
  --colors-list-bg: rgb(251, 252, 254);
  --colors-text-completed: rgb(103,105,128);
  --colors-text-title: rgb(92,94,119);
  --colors-title_hover: rgb(92,94,119);
  --shadow: rgb(15,15,23, 0.2) 0 0 8px;
}

body[data-theme='light'] {
  --colors-text: rgb(76,75,89);
  --colors-bg: rgb(250,250,250);
  --colors-list-bg: rgb(255,255,255);
  --colors-completed: rgb(216,216,218);
  --colors-text-title: rgb(189,190,195);
  --colors-title_hover: rgb(76,77,95);
  --shadow: rgb(229,228,236 0.2) 0 8px 24px;
}

body {
  margin: 0;
  font-family: var(--family);
  color: var(--colors-text);
  font-weight: var(--fw-normal);
  background-color: var(--colors-bg);
}
